body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #181819;
}

.circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 5px solid #f6ff4c;
    animation: wave 0.8s forwards;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.2), 0 6px 20px 0 #c1ff8b;
}

@keyframes wave {
    0% {
        width: 5px;
        height: 5px;
        opacity: 1;
    }

    50% {
        width: 50px;
        height: 50px;
        opacity: 0.5;
    }

    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }

}